@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

@theme {
    --color-primary: #ffa200;
    --color-secondary: #d3b47f;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
}
